trunk/ejemplos/WebServiceUsuariosClient/xml-resources/web-service-references/WebServiceSeguridad/wsdl/localhost_8080/WebServiceSeguridad/WebServiceSeguridad.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.usuarios.aplicacion.ejemplos.xtecuan.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.usuarios.aplicacion.ejemplos.xtecuan.org/" name="WebServiceSeguridad">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.usuarios.aplicacion.ejemplos.xtecuan.org/" schemaLocation="http://localhost:8080/WebServiceSeguridad/WebServiceSeguridad?xsd=1"/>
</xsd:schema>
</types>
<message name="autenticarUsuario">
<part name="parameters" element="tns:autenticarUsuario"/>
</message>
<message name="autenticarUsuarioResponse">
<part name="parameters" element="tns:autenticarUsuarioResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="listarUsuarios">
<part name="parameters" element="tns:listarUsuarios"/>
</message>
<message name="listarUsuariosResponse">
<part name="parameters" element="tns:listarUsuariosResponse"/>
</message>
<portType name="WebServiceSeguridad">
<operation name="autenticarUsuario">
<input wsam:Action="http://webservice.usuarios.aplicacion.ejemplos.xtecuan.org/WebServiceSeguridad/autenticarUsuarioRequest" message="tns:autenticarUsuario"/>
<output wsam:Action="http://webservice.usuarios.aplicacion.ejemplos.xtecuan.org/WebServiceSeguridad/autenticarUsuarioResponse" message="tns:autenticarUsuarioResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservice.usuarios.aplicacion.ejemplos.xtecuan.org/WebServiceSeguridad/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservice.usuarios.aplicacion.ejemplos.xtecuan.org/WebServiceSeguridad/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://webservice.usuarios.aplicacion.ejemplos.xtecuan.org/WebServiceSeguridad/listarUsuariosRequest" message="tns:listarUsuarios"/>
<output wsam:Action="http://webservice.usuarios.aplicacion.ejemplos.xtecuan.org/WebServiceSeguridad/listarUsuariosResponse" message="tns:listarUsuariosResponse"/>
</operation>
</portType>
<binding name="WebServiceSeguridadPortBinding" type="tns:WebServiceSeguridad">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="autenticarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebServiceSeguridad">
<port name="WebServiceSeguridadPort" binding="tns:WebServiceSeguridadPortBinding">
<soap:address location="http://localhost:8080/WebServiceSeguridad/WebServiceSeguridad"/>
</port>
</service>
</definitions>