ejemplos/ClienteWS/src/META-INF/wsdl/blitz5.local_8080/HolaMundoBeanService/HolaMundoBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://ejb.modelo.ufg.edu.sv/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ejb.modelo.ufg.edu.sv/">

<xs:element name="holaMundo" type="tns:holaMundo"/>

<xs:element name="holaMundoResponse" type="tns:holaMundoResponse"/>

<xs:complexType name="holaMundo">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="holaMundoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>