ejemplos/WebserviceAlumnoJClient/xml-resources/web-service-references/AlumnosWebService/wsdl/192.168.2.47_8080/AlumnosWebService/AlumnosWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice.ws.modelo.xtecuan.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.ws.modelo.xtecuan.org/">

<xs:element name="alumno" type="tns:alumnosDTO"/>

<xs:element name="buscarAlumnoPorId" type="tns:buscarAlumnoPorId"/>

<xs:element name="buscarAlumnoPorIdResponse" type="tns:buscarAlumnoPorIdResponse"/>

<xs:element name="buscarTodosLosAlumnos" type="tns:buscarTodosLosAlumnos"/>

<xs:element name="buscarTodosLosAlumnosResponse" type="tns:buscarTodosLosAlumnosResponse"/>

<xs:complexType name="buscarTodosLosAlumnos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="buscarTodosLosAlumnosResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumnosDTO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumnosDTO">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="carnet" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="fechanac" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarAlumnoPorId">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarAlumnoPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumnosDTO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>